body{
  margin:0;
}
a{
  text-decoration: none;
  color:#4a47a3;
}
a:hover{
  color:black;
}
p
{
  margin: 0;
}
footer
{
  text-align: center;
  background-color:#ffb6b9;
}
.div1
{
  height:200px;
  width: 100%;
  margin:0;
}
.college
{
padding-top: 2rem;
padding-right: 2.5rem;
padding-left: 2.5rem;
border-radius:100%;
height:400px;
width: 400px;
float:left;
}
.drexel{
  position: absolute;
  padding-left: 100px;;
  padding-top: 1.5rem;
  width: 125px;
}
.nav{
  padding-top: 3.5rem;
  padding-left: 750px;
  float:right;
  font-size: 1.5rem;
  font-family: monospace;
  font-weight: bold;
}
.about-text
{
  padding-top: 2rem;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  padding-bottom: 2rem;
  font-family: monospace;
  font-weight: 530;
  line-height: 2;
  padding-left: 0 5%;
  font-size: 15px;
  color:#4a47a3;
  font-weight: 550;
}
.div2
{
 background-image: url("cherry5.jpg");
 background-size: cover;
 background-attachment: fixed;
  width: 100%;
  margin:0;
}
.footer-image
{
    margin:2% 3%;
}
.transparent-block
{
background-color:  rgba(255,255,255,0.8);
margin-left:40%;
}
